.post-content{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.post{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    max-width: 700px;
    margin: 30px 30px;
    padding-bottom: 10px;
    background-color: #282828;
    border-radius: 30px;
    
}

.blog-post-img{
    height:200px;
}

.blog-post-img img
{
    width: 100%;
    height: 100%;
    border-radius: 30px 30px 0 0;
    object-position:right;

}

.blog-post-features{
    display: flex;
    justify-content: flex-start;
    width: auto;
    max-width:250px;
    font-size: calc(10px + 0.390625vw);
    transform: translate(30px, -50px);
}

.blog-post-features span
{
    border-radius: 30px;
}

.blog-post-category{
    background-color: white;
    padding: 10px;

}

.blog-post-favorite{
    background-color: #8E44AD;
    margin-left: 10px;
    padding: 10px 20px;
    color: #F7DC6F;
    transition: all 0.1s ;
}

.pink-color{
    color:#8E44AD;
}

.description{
    text-align: justify;
    padding: 30px;
    color: #908d96;
}

.description h1, .comments h1{
    color: white;
}

.description p{
    text-align: right;
}

.author-content{
    display: flex;
    flex-direction: column;
    max-width: 700px;
    margin: 30px 30px;
    
}

.author{
    max-width: 700px;
    padding: 30px;
    background-color: #282828;
    border-radius: 30px;
    color: #908d96;
    height: 100%;
}

.commentsHeader{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.commentsHeader a{
    margin-left: 20px;
}

.commentsHeader textarea{
    overflow: hidden;
}

.comment_form_div{
    margin-top: 10px;
    opacity: 0;
    transform: translateY(-60px);
}

textarea{
    overflow: hidden;
}

.form-submit{
    margin-top: 20px;
}

.comments-content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 30px;
    max-width: 700px;
    
}

.comments{
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: #282828;
    border-radius: 30px;
    color: #908d96;
    width: 100%;
    max-width: 700px;
}

.comment{
    border-bottom: 1px solid #908d96;
    padding: 15px 0;
    transition: all 2s;
}

.comment:last-child{
   border: none;
   padding-bottom: 0;
}

.comment p{
    text-align: justify;
    color: #908d96;
    font-weight: bold;
}

.editButton, .deleteButton{
    cursor:pointer;
}

.deleteButton{
    margin-left: 20px;
}

#status{
    margin-bottom: 0;
    margin-top: 10px;
}

.user-name{
    color: #8E44AD;
}

.date{
    font-size: min(calc(9px + 0.390625vw),14px);
}

.removed{
    height: 0px;
    opacity: 0;
    transform: translateY(-60px);
    
}

.added{
    opacity: 1;
    transform: translateY(0px);
}

.commentChangeButton{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color:#908d96;

}

.post-menage{
    display:flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}



#animation{
    transition: transform 1s, opacity 0.5s;
}

@media (min-width: 880px){

    .blog-post-features{
        font-size: min(calc(9px + 0.390625vw),14px);
    }
    .post{
        max-width: 1000px;
        width: 100%;
    }

    .post-content{
        flex-direction: row;
    }

    .blog-post-img{
        height:350px;
    }

    .author-content{
        max-width: 700px;
    }

    .comments-content{
        max-width: none;
    }

    .comments{
        max-width: 1300px;
    }

    .sticky-div{
        position: sticky;
        top: 20px;
    }

}

@media(min-width:1280px)
{

    .blog-post-features{
        font-size: min(calc(8px + 0.390625vw),16px);
    }

}